:root {
  --black-color: #212121;
  --cyan-color: #3fd0d4;
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.8;
}

body,
html {
  font-family: "Poppins", sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.325rem 0;
}

button,
input,
select {
  border: none;
  outline: none;
}

.container {
  margin: 0 30px;
}

/* ------------- Common Stylesheet for Flex Layout ----------- */
.d-flex {
  display: flex;
  align-items: center;
}

.flex-col-2 {
  width: calc(100% / 2);
}

.flex-col-3 {
  width: calc(100% / 3);
}

.flex-col-4 {
  width: calc(100% / 4);
}

.flex-col-5 {
  width: calc(100% / 5);
}

.flex-col-6 {
  width: calc(100% / 6);
}

/* ------------- Common Stylesheet for Grid Layout ----------- */
.grid,
.grid-col-2,
.grid-col-2-auto,
.grid-col-3,
.grid-col-3-auto,
.grid-col-4,
.grid-col-4-auto,
.grid-col-5,
.grid-col-5-auto,
.grid-col-6,
.grid-col-6-auto,
.grid-1fr-auto,
.grid-auto-1fr {
  display: grid;
  align-items: center;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-2-auto {
  grid-template-columns: repeat(2, auto);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-3-auto {
  grid-template-columns: repeat(3, auto);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-4-auto {
  grid-template-columns: repeat(4, auto);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-5-auto {
  grid-template-columns: repeat(5, auto);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-6-auto {
  grid-template-columns: repeat(6, auto);
}

.grid-1fr-auto {
  grid-template-columns: 1fr auto;
}

.grid-auto-1fr {
  grid-template-columns: auto 1fr;
}

/* ------------- Common Stylesheet for submenu ----------- */
.submenu-list,
.menu-level-3 {
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .03);
}

.submenu-list {
  position: absolute;
  background: var(--white-color);
  top: calc(100% + 28px);
  left: -32px;
  z-index: 999;
  padding: 28px 0 30px;
  min-width: 250px;
}

.submenu-list ul li {
  padding: 5px 25px 6px 32px;
  cursor: pointer;
}

.submenu-list ul li a {
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
}

.menu-level-3 {
  position: absolute;
  background: var(--white-color);
  left: 100%;
  top: -28px;
  padding: 28px 0 30px;
  min-width: 245px;
  z-index: 999;
}

.menu-level-3.shop {
  left: -245px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.show {
  visibility: visible;
  opacity: 1;
}


/* ------------- Common Stylesheet for showing submenu ----------- */
.transition-default {
  opacity: 0;
  visibility: hidden;
  max-height: 0;

  transition: opacity 0.5s ease,
    visibility 0.5s ease,
    max-height 0.15s ease-out;
}

.transition-hover {
  opacity: 1;
  visibility: visible;
  max-height: 1000vh;
}


/* ------------- Common Stylesheet for using background-image ----------- */
.set-background {
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}


/* ------------- Common Stylesheet for common overlay ----------- */
.search-overlay {
  position: fixed;
  inset: 0;
  background: rgba(63, 208, 212, .85);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.search-overlay.visible,
.account-overlay.visible {
  visibility: visible;
  opacity: 1;
}

.search-overlay-group {
  display: flex;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.search-overlay-group input {
  flex: 1;
  padding-left: 30px;
}

.search-overlay-group input,
.search-overlay-group input::placeholder {
  color: #848484;
  font-size: 14px;
}

.search-overlay-group a {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 25px 70px;
  font-size: 13px;
  background-color: #3fd0d4;
  transition: background-color 0.3s ease;
}

.search-overlay-group a:hover {
  background-color: #23a9af;
}

.account-overlay.search-overlay {
  background: rgba(255, 255, 255, .9);
}

.account-form {
  background: #23a9af;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
}

.account-form__tab a {
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1em;
  width: calc(100% / 2);
  padding: 10px 0;
  background-color: #23a9af;
  transition: background-color .3s ease;
}

.account-form__tab a.active,
.account-form__iframe {
  background-color: var(--cyan-color);
}

.account-form__iframe {
  transition: all .3s ease;
  padding: 20px 40px;
}

.account-form__login,
.account-form__register {
  color: var(--white-color);
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.account-form__login.on-tab,
.account-form__register.on-tab {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.account-form__login p,
.account-form__register p {
  margin: 0 0 25px;
}

.account-form__input-group {
  position: relative;
  background: rgba(255, 255, 255, .25);
  margin: 8px 0 0;
}

.account-form__input-group i {
  position: absolute;
  left: 20px;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.account-form__input-group input {
  width: 100%;
  background: transparent;
  padding: 14px 20px;
  padding-left: 50px;
}

.account-form__input-group input,
.account-form__input-group input::placeholder {
  color: var(--white-color);
}