.home-header {
    background: var(--black-color);
}

.home-header__contact a,
.home-header__socials a {
    color: var(--white-color);
    font-size: 13px;
}

.home-header .d-flex {
    justify-content: space-between;
}

.home-header__contact a:hover,
.home-header__socials a:hover {
    color: var(--cyan-color);
}

.home-header__contact a,
.home-header__socials a {
    display: unset;
}


.home-header__contact a {
    margin-right: 20px;
}

.home-header__contact a i {
    color: var(--cyan-color);
    font-size: 13px;
    margin-right: 10px;
}

.home-header__socials a {
    margin-left: 10px;
}

.selection-group {
    background-color: var(--cyan-color);
}

.selection-group>ul>li {
    color: var(--white-color);
    display: table-cell;
    position: relative;
    cursor: pointer;
}

.selection-group>ul>li:first-child {
    background: #3abdc1;
}

.selection-dropdown.submenu-list {
    left: 0;
    top: 100%;
    min-width: 100%;
    background-color: var(--cyan-color);
    padding: 14px 20px 14px 42px;
}

.selection-dropdown ul li {
    display: inline;
    padding: 0;
    margin: 6px 0;
}

.selection-dropdown ul li a {
    color: var(--white-color);
    padding: 7px 0;
    transition: color 0.3s ease-out;
}

.home-mediterranean-section {
    padding: 0 40px;
}

.home-mediterranean__wrapper {
    gap: 30px;
}

.home-mediterranean__item {
    overflow: hidden;
    position: relative;
    max-height: 450px;
}

.home-mediterranean__image,
.home-mediterranean__image a,
.home-mediterranean__image img {
    max-height: inherit;
}

.home-mediterranean__image a img {
    transition: transform 0.5s ease-in-out,
        -webkit-transform 0.5s ease-in-out;
}

.home-mediterranean__item:hover .home-mediterranean__image img {
    transform: scale(1.03);
}

.discount,
.place-and-price {
    position: absolute;
    z-index: 10;
}

.discount {
    top: 0;
    right: 0;
    z-index: 1;
}

.discount a {
    color: var(--white-color);
    display: block;
    background: var(--cyan-color);
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
}

.place-and-price {
    bottom: 0;
    color: var(--white-color);
    width: 100%;
    padding: 10px 0 30px;
    cursor: pointer;
}

.place-and-price span {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.home-mediterranean__item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, .67) 99%, rgba(0, 0, 0, .6) 100%);
    opacity: .7;
    transition: .5s;
    cursor: pointer;
}

.home-mediterranean__item:hover::after {
    opacity: 1;
}

.one-card {
    padding: 100px 80px !important;
}

.one-card__item {
    text-align: center;
}

.one-card__img {
    margin: 0 0 20px;
}

.one-card__img img {
    min-width: 145px;
}

.one-card__desc {
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: #505050;
}

.one-card__name {
    margin: 8px 0 0;
    font-family: Satisfy, cursive;
    font-size: 24px;
    color: var(--black-color);
}

.one-card__prev.swiper-button-prev,
.one-card__next.swiper-button-next,
.one-card__prev.swiper-button-prev:hover,
.one-card__next.swiper-button-next:hover {
    background-color: unset !important;
    padding: unset !important;
}

.one-card__prev.swiper-button-prev::after,
.one-card__next.swiper-button-next::after {
    color: var(--black-color) !important;
    font-size: 30px !important;
}

.one-card__prev.swiper-button-prev:hover::after,
.one-card__next.swiper-button-next:hover::after {
    color: var(--cyan-color) !important;
}

.one-card__prev.swiper-button-prev {
    left: 50px !important;
}

.one-card__next.swiper-button-next {
    right: 50px !important;
}

.our-blog__wrapper {
    padding: 0 30px;
    gap: 80px;
}

.our-blog__left {
    padding-right: 80px;
}

.our-blog__left .winter-text {
    padding: 0;
}

.our-blog__card {
    margin: 30px 0 0;
    gap: 20px;
}

.our-blog__img {
    overflow: hidden;
    max-width: 140px;
}

.our-blog__img a,
.our-blog__img img {
    max-width: 100%;
    width: 100%;
    transition: transform 0.5s ease;
}

.our-blog__img:hover img {
    transform: scale(1.03);
}

.our-blog__info a {
    font-size: 22px;
    display: inline;
    font-weight: 600;
    color: var(--black-color);
    transition: color 0.4s ease;
}

.our-blog__info a:hover {
    color: var(--cyan-color);
}

.our-blog__info span {
    display: block;
    color: #505050;
    margin: 15px 0 0;
}

.our-blog__info p {
    margin: 19px 0 0;
}

.our-blog__info p a {
    font-size: 14px;
    margin-right: 20px;
}

.our-blog__right {
    padding: 0 20px;
    max-width: 350px;
    position: relative;
    overflow: hidden;
}

.our-blog__right a,
.our-blog__right img {
    width: 100%;
    max-width: 100%;
}

.our-blog__right-discount {
    background: #3fd0d4;
    text-align: center;
    padding: 35px;
    width: calc(100% + 80px);
    height: auto;
    position: absolute;
    top: 50px;
    left: -40px;
    transform: rotate(-15deg);
}

.tem-section {
    margin: 50px 0 0;
}

.tem-item {
    position: relative !important;
}

.tem-item.swiper-slide {
    overflow: unset !important;
    margin-bottom: 100px !important;
}

.tem-section .tem-wrapper {
    align-items: center;
}

.tem-item__img {
    display: inline-block;
}

.tem-item__img a {
    position: relative;
    display: inline-block;
    border-image: url(../imgs/stamp.png) 17 round;
    border-width: 13px;
    border-style: solid;
    filter: drop-shadow(4px 5px 12px rgba(0, 0, 0, .07));
    -webkit-transform: translateZ(0);
}

.tem-item__img img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.tem-item__desc {
    position: absolute;
    background-color: var(--white-color);
    z-index: 999;
    width: 170px;
    height: 170px;
    bottom: -40%;
    left: 0;
    right: 50%;
    border-radius: 50%;
    filter: drop-shadow(4px 5px 12px rgba(0, 0, 0, .07));
    /* -webkit-transform: translateZ(0); */
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition:
        opacity .4s ease,
        transform .4s cubic-bezier(.4, 0, .2, 1),
        left .6s ease,
        right .6s ease;
}

/* ===== ACTIVE (GIá»®A) ===== */
.swiper-slide-active .tem-item__desc {
    opacity: 1;
    visibility: visible;
    left: 50%;
    right: 0;
    transform: scale(1);
}

.tem-item.is-force-hide .tem-item__desc {
    opacity: 0;
    visibility: hidden;
}

/* ===== HOVER PREV ===== */
.tem-item.is-hover-prev .tem-item__desc {
    opacity: 1;
    visibility: visible;
    right: 0;
    left: 50%;
    transform: scale(1);
}

/* ===== HOVER NEXT ===== */
.tem-item.is-hover-next .tem-item__desc {
    opacity: 1;
    visibility: visible;
    right: 50%;
    left: 0;
    transform: scale(1);
}

.tem-item__desc a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tem-item__desc p {
    color: #505050;
    font-size: 13px;
}

.tem-item__name {
    color: var(--black-color);
    font-size: inherit;
    font-weight: 600;
}

.go-and-discover {
    position: relative;
}

.go-and-discover .winter-sports-video {
    width: unset;
    position: relative;
    bottom: -30px;
    margin-top: -30px;
}

.gallery-grid {
    margin: 40px 0;
    gap: 20px;
    padding: 0 40px;
}

.gallery-grid .home-mediterranean__item {
    max-height: 270px;
}

.gallary-bottom-text {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    color: var(--white-color);
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    cursor: pointer;
}

.gallary-bottom-text span {
    font-size: 18px;
    font-weight: 600;
}

.gallery-place-and-price p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.05em;
    text-align: left;
}

.gallery-place-and-price span {
    font-size: 14px;
}

.gallery-place-and-price span i {
    font-size: 12px;
}

.gallery-place-and-price span b {
    margin-left: 5px;
    font-weight: 500;
}

.banner-and-slider {
    position: relative;
}

.home-about-group {
    position: absolute;
    bottom: -36px;
    width: 1100px;
    height: 78px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: var(--white-color);
    z-index: 10;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .07);
    display: flex;
    align-items: center;
}

.home-group-equal,
.home-group-other {
    height: 100%;
}

.home-group-other {
    width: 180px;
}

.home-group-other a {
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 5.5;
    color: var(--white-color);
    background-color: var(--cyan-color);
    transition: all 0.3s ease;
}

.home-group-other a:hover {
    background-color: #23a9af;
}

.home-group-equal {
    width: calc((100% - 180px) / 3);
    border-right: 1px solid #e7e7e7;
}

.home-group-equal__input,
.home-group-equal__select {
    height: inherit;
    display: flex;
    align-items: center;
    color: #848484;
    position: relative;
}

.home-group-equal__input input {
    width: 100%;
    height: inherit;
    padding-left: 50px;
    color: #848484;
}

.home-group-equal__input input::placeholder {
    color: #848484;
}

.home-group-equal__input i {
    position: absolute;
    margin-left: 20px;
    height: inherit;
    display: inline-flex;
    align-items: center;
}

.home-group-equal__select {
    padding-left: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.default-select-div {
    cursor: text;
}

.home-select__dropdown {
    display: none;
    background: var(--white-color);
    width: 100%;
    position: absolute;
    bottom: 100%;
    right: 0;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, .07);
    overflow-y: auto;
    max-height: 230px;
    z-index: 1000;
}

.home-select__dropdown ul li a {
    color: #848484;
    padding: 10px 30px;
}

.home-select__dropdown ul li a:hover,
.home-select__dropdown ul li a.selected {
    color: var(--cyan-color);
}

.lost-your-password {
    color: #26878a;
    transition: color .3s ease;
}

.lost-your-password:hover {
    color: var(--black-color);
}

.remember-me {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.remember-me input {
    appearance: none;
    cursor: pointer;
    border: 1px solid #007BFF;
    background: var(--white-color);
    outline: none;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    position: relative;
}

.remember-me input:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--cyan-color);
}

.account-submit-btn {
    background-color: var(--white-color);
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    padding: 14px 42px;
    cursor: pointer;
    letter-spacing: .1em;
    transition: color .2s ease-in-out,
        background-color .2s ease-in-out;
}

.account-submit-btn:hover {
    background-color: #23a9af;
    color: var(--white-color);
}

.register-policy {
    display: inline;
    color: #26878a;
    font-weight: 600;
    transition: color 0.3s ease;
}

.register-policy:hover {
    color: var(--black-color);
}

.facebook-and-google {
   display: none;
}

.facebook-and-google.active {
    display: flex;
}