.progress-container-group {
    max-width: 700px;
}

.progress-container {
    margin: 0 0 30px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.progress-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.progress-container .label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 8px;
    color: var(--black-color);
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #f2f1ec;
    overflow: hidden;
}

.progress {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #30d5c8;
    border-radius: 10px;
    transition: none;
}